* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color: rgba(255, 0, 0, 1)
}

body {
    background: radial-gradient(circle, rgba(134,134,134,1) 0%, rgba(0,0,0,1) 45%);
}

footer {
    background-color: #000;
}

.back {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    filter: blur(3px);
    z-index: -10;
}

.container {
    padding: 0 20px;
    max-width: 1440px;
    margin: 0 auto;
}

.main-container {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    position: relative;
    padding: 5px;
    width: 800px;
    height: 310px;
    background-color: #000;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 16px 5px var(--color);
}

.animation {
    animation: pulse-animation 0.7s infinite;
    animation-direction: alternate;
}

.change-color {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 21px;
    right: 15px;
    background: url("./assets/svg/player/setting.svg") no-repeat center;
    cursor: pointer;
    transition: 0.3s;
}

.change-color:hover {
    transform: scale(1.1, 1.1);
}

.color-input {
    position: absolute;
    height: 25px;
    top: 25px;
    right: 65px;
    border: none;
    cursor: pointer;
    transform: scale(0);
    transition: 0.3s;
}

.color-display {
    transform: scale(1);
}

.track-image {
    width: 300px;
    height: 300px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: none;
}

.player-controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
    width: 490px;
    height: 100%;
}

.track-info {
    width: 100%;
    height: 50px;
}
.band-name {
    text-shadow: 0 0 3px #EAEAEA;
    font-size: 30px;
    font-weight: 700;
    color: var(--color);
}

.track-name {
}
.progress-bar {
    width: 100%;
}

.track-time {
    display: flex;
    justify-content: space-between;
}

.current-time {

}

.duration-time {

}

.progress-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: linear-gradient(0deg, rgba(79,79,79,1) 0%, rgba(0,0,0,1) 86%);
    box-shadow: 0 0 5px 2px var(--color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.progress-input:hover {
    height: 10px;
}

.progress-input::-webkit-slider-thumb{
    background: var(--color);
    border-radius: 5px;
    cursor: pointer;
    width:10px;
    height: 20px;
    box-shadow: 0 0 2px 2px #EAEAEA;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.progress-input::-moz-range-thumb{
    background: var(--color);
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #EAEAEA;
    cursor: pointer;
    width:10px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.player-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-buttons {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    position: relative;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px var(--color);
    cursor: pointer;
    transition: 0.2s;
}

.button:hover {
    transform: scale(1.1, 1.1);
}

.button:active {
    transform: scale(0.9, 0.9);
}

.player-prev {
    background: url("./assets/svg/player/skip-left.svg") no-repeat center;
}
.player-play {
    width: 60px;
    height: 60px;
    background: url("./assets/svg/player/play.svg") no-repeat center;
}

.player-pause {
    background: url("./assets/svg/player/pause.svg") no-repeat center;
}

.player-next {
    background: url("./assets/svg/player/skip-right.svg") no-repeat center;
}
.player-stop {
    background: url("./assets/svg/player/stop.svg") no-repeat center;
}
.player-mute {
    box-shadow: none;
    width: 30px;
    height: 30px;
    background: url("./assets/svg/player/vol-mute.svg") no-repeat center;
}

.volume-bar {
}

.volume-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 125px;
    height: 6px;
    background: linear-gradient(0deg, rgba(79,79,79,1) 0%, rgba(0,0,0,1) 86%);
    box-shadow: 0 0 5px 2px var(--color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.volume-input:hover {
    height: 10px;
}

.volume-input::-webkit-slider-thumb{
    background: var(--color);
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #EAEAEA;
    cursor: pointer;
    width:10px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.volume-input::-moz-range-thumb{
    background: var(--color);
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #EAEAEA;
    cursor: pointer;
    width:10px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.player-max {
    box-shadow: none;
    width: 30px;
    height: 30px;
    background: url("./assets/svg/player/vol-up.svg") no-repeat center;
}

.footer-container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year {
    margin: 0 20px;
}

.github-link {
    text-decoration: none;
    color: #fff;
    margin-right: 18px;
    transition: 0.3s;
}

.github-link:hover {
    color: rgba(255, 0, 0, 0.692);
}

.rss-link {
    display: block;
    height: 60px;
    width: 160px;
    background-image: url("./assets/svg/rss.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
}

.rss-link:hover {
    filter: invert(26%) sepia(80%) saturate(5000%) hue-rotate(327deg) brightness(55%)
    contrast(300%);
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 5px 1px var(--color);
    }
    100% {
        box-shadow: 0 0 16px 5px var(--color);
    }
}
